<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>



<a href="/create_document">Create new list of comment</a>
<br/>

<div th:unless="${#lists.isEmpty(myDocuments)}">
    <h2>My documents:</h2>
    <table>
        <tr th:each="doc : ${myDocuments}">
            <td>
                <h2>
                    <a th:href="'/doc?id=' + ${doc.id}" th:text="${doc.title}">First</a>
                </h2>
            </td>
            <td>
                <a th:href="'/deldoc?id=' + ${doc.id}">Delete</a>
            </td>
            <td th:text="${{doc.getStatus()}}"></td>
        </tr>
    </table>
</div>

<div th:unless="${#lists.isEmpty(myDocumentCredentials)}">
    <h2>Documents that I have credentials:</h2>
    <table>
        <tr th:each="cred : ${myDocumentCredentials}">
            <td th:text="${cred.document.title}"></td>
            <td th:text="${cred.document.credentials}"></td>
        </tr>
    </table>
</div>

</body>
</html>